body{
	background-image: url("../bg.png");
	background-attachment: scroll;
	background-repeat: no-repeat;
	background-size: 1400px;

	
}
#subcontainer{
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	margin-left: 800px;
	
}
#subcontainer ul li a{
	color:white;
	text-decoration:none;
	margin:opx 20px;
	padding:0px 20px;
	font-size:20px;
}

#subcontainer ul {
	
	list-style-type:none;
	
}
#subcontainer ul {

display:flex;
}
#subcontainer ul li a:hover{
	color:orange;
	background-color:white;
	border-radius:20px;
	
}
p{
    color: aliceblue;
    font-size: larger;
}
h2{
    color:orange;
}
#center{
    margin-left: 500px;
    margin-right: 500px;
    margin-top: 100px;

}




	
